body {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font: 13px/27px Arial, sans-serif;
}

.nav-left {
  margin-left: 15px;
}

.nav-left a {
  opacity: 0.9;
  padding: 5px;
}

.nav-right {
  margin-right: 20px;
}
.nav-right a {
  opacity: 0.9;
  padding: 5px;
}

#apps {
  position: relative;
  top: 8px;
}

#sign-in {
  background-color: #4583ed;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  width: 70px;
  margin-right: 10px;
  font-family: arial, sans-serif;
}

#middle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  flex-grow: 1;
}

#content-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 130px;
}

#google_logo {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 30px;
}

#search-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  width: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#search-container:hover {
  box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: relative;
  height: 24px;
}
#search-bar {
  width: 500px;
  border: none;
  height: 25px;
  outline: 0;
}

.voice {
  position: relative;
  height: 20px;
  top: 3px;
}

#buttons-div {
  position: relative;
  top: 10px;
}

.bot-buttons {
  border: none;
  border-radius: 4px;
  color: #6a6a6a;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.bot-buttons:hover {
  border: 1px solid black;
  color: black;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  font-family: arial, sans-serif;
  color: rgb(95, 99, 104);
  background-color: #f2f2f2;
  font-size: 14px;
  align-items: flex-start;
  margin-top: auto;
}

#left-foot {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
#right-foot {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

footer a {
  margin: 5px;
  color: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0);
}
